* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
}

/* NAVBAR PRINCIPAL */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    height: 15vh;
}

.menu-left,
.menu-right {
    display: flex;
    gap: 25px;
    margin-top: 10px;
    transition: 1s;
}

.menu-left:hover,
.menu-right:hover{
    transform: scale(1.2);
}

.menu-left a,
.menu-right a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 2s;
}

.menu-left a:hover,
.menu-right a:hover{
    color: yellow;
}

/* LOGO CENTRAL */
.logo-centro {
    margin-top: 90px;
}

.logo-centro img {
    height: 150px;
    margin-left: 20px ;
}

.titulo{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.base{
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 70vh;
    background-color: whitesmoke;
    border: 1px solid black;
    margin-left: 20px;
    margin-bottom: 20px;
}