 /* ======= RESET ======= */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: Arial, sans-serif;
 }

 body {
     background-color: #111;
     /* Fundo escuro */
     color: white;
 }

 header {
     width: 100%;
     position: relative;
 }

 /*Logo em cima*/
 .logo-fixada {
     position: fixed;
     /* fixa no topo */
     top: 10px;
     /*nao ficar grudada la em cima*/
     left: 50%;
     /*joga para a esquerda*/
     transform: translateX(-50%);
     /* centraliza na horizontal*/
     z-index: 9999;
     /* garante que fique acima de tudo */
 }

 .logo-fixada img {
     height: 120px;
     filter: drop-shadow(0 0 10px black);
     /*faz ter uma sombra em baixo*/
 }

 /* Navbar */
 .navbar {
     display: flex;
     align-items: center;
     justify-content: space-around;
     background-color: black;
     height: 15vh;
 }

 .menu-left,
 .menu-right {
     display: flex;
     gap: 25px;
     /* Espaçamento entre links */
 }

 .menu-left a,
 .menu-right a {
     text-decoration: none;
     /*fica sem a linha de baixo*/
     color: white;
     font-weight: bold;
     font-size: 28px;
     transition: 1s;
 }

 .menu-left a:hover,
 .menu-right a:hover {
     color: yellow;
     transform: scale(1.2);
 }

 /*Banner*/
 .banner {
     width: 100%;
     height: 60vh;
     background-image: url('../images/VILA1-1024x539.png');
     /* Imagem do banner */
     background-size: cover;
     background-position: center;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 @keyframes Entrada {
     0% {
         opacity: 0;
     }

     100% {
         opacity: 1;
     }
 }

 .Entrada {
     animation: Entrada 2s ease-in-out;
 }

 .banner h1 {
     font-size: 60px;
     background: rgba(0, 0, 0, 0.6);
     /* Fundo translúcido */
     padding: 20px 40px;
 }

 /*Noticias*/
 .noticias-section {
     width: 90%;
     margin: 50px auto;
 }

 .noticias-section h2 {
     font-size: 40px;
     margin-bottom: 20px;
     text-align: center;
 }

 .grid-noticias {
     display: grid;
     /* GRID */
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     /* Responsivo */
     gap: 25px;
 }

 .card-noticia {
     background-color: #222;
     border-radius: 15px;
     overflow: hidden;
     transition: 0.3s;
     /* Efeito hover */
 }

 .card-noticia:hover {
     transform: scale(1.05);
     /* Efeito de destaque */
 }

 .card-noticia img {
     width: 100%;
     height: 200px;
     object-fit: cover;
     /* Ajusta a imagem */
 }

 .card-noticia p {
     padding: 15px;
     font-size: 18px;
 }

 /* RESPONSIVIDADE*/
 @media (max-width: 600px) {

     .logo-fixada img {
         height: 80px;
     }

     .navbar {
         flex-direction: row;
         height: auto;
         padding: 15px 0;
         gap: 10px;
     }

     .menu-left {
         margin-right: 20vh;
     }

     .menu-left a,
     .menu-right a {
         font-size: 20px;
     }

     .banner h1 {
         font-size: 40px;
     }

     .cortina h2 {
         font-size: 28px;
     }

     .jogador-card img {
         height: 140px;
     }
 }

 @media (min-width: 601px) and (max-width: 900px) {

     .logo-fixada img {
         height: 100px;
     }

     .navbar {
         justify-content: space-between;
         padding: 0 20px;
         height: 12vh;
     }

     .menu-left a,
     .menu-right a {
         font-size: 24px;
     }

     .banner h1 {
         font-size: 30px;
     }

     .cortina h2 {
         font-size: 34px;
     }
 }

 /*Elenco*/
 .cortina-container {
     width: 100%;
     margin-top: 50px;
     text-align: center;
 }

 .cortina {
     width: 100%;
     padding: 20px;
     background: linear-gradient(to right, black, #333, black);
     cursor: pointer;
     animation: brilho 3s infinite alternate;
 }

 .cortina h2 {
     font-size: 40px;
     color: yellow;
 }

 @keyframes brilho {
     0% {
         filter: brightness(1);
     }

     100% {
         filter: brightness(1.5);
     }
 }

 /* Área do elenco (fechada por padrão) */
 .elenco {
     width: 90%;
     margin: 20px auto;
     max-height: 0;
     overflow: hidden;
     /*Ela determina se o conteúdo excedente será visível (o padrão), oculto, ou se barras de rolagem serão adicionadas para permitir a visualização completa.*/
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
     gap: 25px;
     transition: max-height 1s ease;
 }

 /* Quando abre */
 .elenco.aberto {
     max-height: 2000px;
     /* grande pra caber tudo */
 }

 /* Cards dos jogadores */
 .jogador-card {
     background: #222;
     border-radius: 15px;
     padding-bottom: 15px;
     overflow: hidden;
     transition: 0.3s;
 }

 .jogador-card:hover {
     transform: scale(1.05);
 }

 .jogador-card img {
     width: 100%;
     height: 180px;
     object-fit: cover;
     /*preserva a imagem e corta ela se necessario*/
 }

 .jogador-card h3 {
     font-size: 20px;
     margin-top: 10px;
 }

 .jogador-card p {
     font-size: 16px;
     opacity: 0.8;
 }

 footer {
     text-align: center;
     background: black;
     color: white;
     padding: 30px;
     margin-top: 50px;
 }